# Dependências
node_modules
npm-debug.log*

# Arquivos de build
.expo
dist
build

# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentação
README.md
*.md

# Testes
coverage
.nyc_output

# Cache
.cache
.parcel-cache